.finish-add {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 1em;
    /* margin-top: auto; */
  }
  .total-tax {
    margin-top: auto;
    display: flex;
    padding: 3%;
    flex-direction: column;
  }