.amount-tax-price {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  button, #buttonCreateProduct {
    background-color: #16a34a;
    transition: background-color 0.3s;
    border-radius: 1em;
    border: none;
    padding: 16px;
    font-weight: bolder;
    cursor: pointer;
  }

  .add-products {
    padding-right: 36px;
    flex-direction: column;
    display: flex;
    border-right: 0.1vw solid gray;
    height: 80vh;
  }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

/* Path: front/src/components/HomeComponents/FormIndex.js */